.sticky-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* White background for the toolbar */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for elevation */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1.2em !important; /* Increase font size for the toolbar */
    font-weight: 600; /* Increase font weight for the toolbar */
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Add a border for the toolbar */

    .app-part{
        display: flex;
        align-items: center;

        .logo {
          height: 40px; /* Adjust the height of your logo */
          margin-right: 16px; /* Adjust margin as needed */
        }
        .app-name{
            color: black;
        }
    }
    

    .menu-list{
        // flex: 2;
        margin-left: 30px;
        width: 600px;
        display: flex;
        justify-content: space-between;
    }

    .user-section{
      display: flex;

     
    }
  
    button {
      color: black; /* Set the text color of the buttons to black */
    }
  }
  
  .elevated {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Increase box shadow on scroll for elevation */
  }