<!-- what-we-do.component.html -->
<div class="about-us-section">
    <h2>About Us</h2>
    <p>Welcome to our website! We're a passionate team committed to delivering <strong>innovative solutions</strong> tailored to your transportation needs. </p>

  </div>
  <!-- what-we-do.component.html -->
  <div class="what-we-do-section">
    <img src="../../../assets/images/phone-about.jpg" >
    <div class="text-content">
      <h3>What We Do</h3>
      <p>{{ whatWeDoText }}</p>
    </div>
  </div>
  <!-- who-we-are.component.html -->
  
  <div class="who-we-are-section">
    <div class="text-content">
      <h3>Who We Are</h3>
      <p>{{ whoWeAreText }}</p>
    </div>
    <img src="../../../assets/images/phone-about-phone.jpg" >
  </div>
  <!-- read-our-reviews.component.html -->
  
  <div class="reviews-section">
    <div class="content">
      <h3>Read Our Reviews</h3>
      <div class="reviews">

        <div class="review-card">
          <div class="review-counter">John Doe</div>
          <div class="review-content">
            <p>Excellent service! The booking process was smooth and hassle-free. The drivers were courteous and arrived on time. I highly recommend this transportation service to anyone looking for a reliable and comfortable ride.</p>
            <p class="location"><em>Location: Casablanca, Morocco</em></p>
          </div>
        </div>
        <div class="review-card">
          <div class="review-counter">Jane Smith</div>
          <div class="review-content">
            <p>Outstanding experience from start to finish. The online booking system was user-friendly, and the rates were competitive. The driver was professional and knowledgeable about the area. Will definitely use this service again!</p>
            <p class="location"><em>Location: Casablanca, Morocco</em></p>
          </div>
        </div>
        <div class="review-card">
          <div class="review-counter">Michael Johnson</div>
          <div class="review-content">
            <p>Amazing service! The vehicles were clean and comfortable, and the drivers were friendly and helpful. I appreciated the punctuality and professionalism of the entire team. Highly recommend!</p>
            <p class="location"><em>Location: Casablanca, Morocco</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- location-map.component.html -->
  
  <div class="location-map-section">
    <p>Faciliter le déplacement pour des <strong>milliers de personnes</strong> dans des centaines de villes.</p>
    <div class="content">
      <img data-src="../../assets/images/mapimage.png" width="1105" height="611" class="lazy img-responsive map-img loaded"
           alt="TaxiCaller is present across the globe" src="../../../assets/images/mapimage.png" data-was-processed="true">
    </div>
  </div>
  