<div class="login-container">
    <mat-card>
      <mat-card-header>
        <div class="app-part">
          <img src="../../../assets/images/app_logo.jpg" alt="Logo" class="logo" routerLink="/" />
          <span class="app-name">Traffici Login</span>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="input-container">
          <label for="userType">User Type:</label>
          <select id="userType" name="userType">
            <option value="client">Client</option>
            <option value="taxi">Taxi Driver</option>
            <option value="bus">Bus Driver</option>
          </select>
        </div>
  
        <div class="input-container">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
  
        <div class="input-container">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
  
        <button type="button">Login</button>
        <div class="signup">
          <p>You don't have an account <a routerLink="/signup"> Signup</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>